.button {
  button {
    background: #000000;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 25px;
    letter-spacing: 0.07em;
    border: none;
    outline: none;
  }
}
