.dropdown {
  width: 443px;
  display: flex;
  height: 279px;
  left: 64.7%;
  top: 112px;
  position: absolute;
  background: #ffffff;
  border: 4px solid #e4e4e4;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .del {
    align-self: flex-end;
    width: 40px;
    height: 18px;
    
  }
  .item {
    display: flex;
    justify-content: space-between;
   
    width: 392px;
    .item-details {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: 20px;
      .name {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;

        color: #000000;
      }
      .price {
        font-weight: 400;
        font-size: 29px;
        line-height: 32px;
        /* identical to box height */

        color: #656565;
      }
    }
    .image {
      width: 149px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 86px;
    }
  }
  .hr {
    width: 388px;
    height: 0px;
    left: 965px;
    top: 298px;

    border: 1px solid #c2c2c2;
  }
  .button button {
    color: black;
    background-color: white;
    width: 392px;
    height: 55px;
    margin-bottom: 10px;
    border: 3px solid #000000;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.07em;
  }
}
@media screen and (max-width:414px){
  .dropdown{
   display: none;
  }
    
  
  }