.homepage{
background: #FFFFFF;
width: 1440px;
height: 2716px;
margin: 0 auto;
}
@media screen and (max-width:414px){
     .homepage{
       width: 414px;
       height: 5500px;
       overflow: hidden;
     }
  
  }